:root {
  --buttonBlue: rgb(68, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body,
#container {
  display: grid;
  place-items: center;
}

body {
  width: 100%;
  height: 100vh;
  background: url(https://i5.walmartimages.com/asr/76943fa8-3110-4018-be4e-18f1f66fb5b8_1.c699bf281731de374f16197e1f6b664d.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#container {
  width: 45vw;
  height: 40vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(111, 122, 130);
  z-index: 1;
  grid-template-columns: 1fr;
}

#header {
  font-size: 3rem;
  color: rgb(17, 17, 52);
  letter-spacing: 3px;
  text-align: center;
}

#btn {
  position: relative;
  top: -1rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--buttonBlue);
  border: 2px solid var(--buttonBlue);
  color: white;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
  transition: 0.3s;
}

#btn:hover {
  background-color: white;
  color: var(--buttonBlue);
}

#filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--buttonBlue);
  filter: opacity(50%);
  visibility: hidden;
}

@media (max-screen: 100px) {
  body {
    background: black;
  }
  #container {
    width: 10px;
  }
  #header {
    font-size: 1rem !important;
  }
  #btn {
    font-size: 0.2rem;
    letter-spacing: 0px;
    padding: 5px;
  }
}

#x {
  position: absolute;
  top: 29vh;
  right: 29vw;
  margin-top: 1rem;
  cursor: pointer;
  color: red;
  animation: x 0.4s infinite;
}

@media only screen and (max-width: 520px) {
  #container {
    width: 90vw;
  }
  #header {
    font-size: 2rem;
  }
  #btn {
    font-size: 0.5rem;
    letter-spacing: 1px;
    padding: 5px;
  }
  #x {
    right: 7vw;
  }
}
@keyframes x {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
